<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.chungrim.mapper.adminMapper">
 
 	<select id="selectAdminInfo" resultType="adminVO">
        SELECT
        	ADMIN_ID AS ADMINID,
        	ADMIN_PASSWORD AS ADMINPASSWORD
        FROM
        	ADMINISTRATOR
    </select>
    
</mapper>
