@charset "UTF-8";

.raspberrypiForm {
	margin: 10px auto;
	width: 50%;
	height: 100%;
	background-color: white;
	padding-top: 150px;
}

h1 {
	font-family: 'Nanum Square';
	color: #2DB400;
	font-size: 35px;
}

.raspberrypiForm table {
	padding-top: 10px;
	margin: 0 auto;
}

.raspberrypiForm td {
	font-family: 'Nanum Square';
	padding: 10px 0;
}

td input {
	width: 250px;
	height: 20px;
}

.submit {
	width: 173px;
	height: 35px;
	background-color: #2DB400;
	border: none;
	color: white;
}