@charset "UTF-8";

.raspberrypiContainer {
	margin: 0 auto;
	width: 50%;
	height: 100%;
	background-color: white;
	padding-top: 40px;
}

h3 {
	font-family: 'nanum square';
	color: #2DB400;
	font-size: 35px;
}

.raspberrypiManagementTable {
	margin: 0 auto;
	border: 1px solid #f1f3f6;
	border-collapse: collapse;
}

thead td {
	background-color: #03cf5d;
	color : white;
}

tbody tr:nth-child(even) td {
	background-color : #F0FFF0;
}

tr {
	height: 50px;
}

td {
	width: 100px;
	padding: 10px 0;
	font-family: 'nanum square';
	background-color: white;
	border: 1px solid #f1f3f6;
}

td a {
	text-decoration: none;
	font-family: 'nanum square';
	color: black;
}

td a:hover {
	color: #2DB400;
}
#selectPi {
	font-size : 13px;
	background-color: #2DB400;
	border: none;
	color: white;
	width : 60px;
	height : 20px;
}