@charset "UTF-8";

.raspberrypiContainer {
	margin: 0 auto;
	width: 50%;
	height: 100%;
	background-color: white;
	padding-top: 40px;
}

.raspberrypiManagementTable {
	margin: 0 auto;
	border: 1px solid #f1f3f6;
}

h1 {
	font-family: 'nanum square';
	color: #2DB400;
	font-size: 35px;
	padding-top: 30px;
}

tr {
	height: 50px;
}

td {
	width: 100px;
	padding: 10px 0;
	font-family: 'nanum square';
	background-color: white;
	border: 1px solid #f1f3f6;
}

td a {
	text-decoration: none;
	font-family: 'nanum square';
	color: black;
}

td a:hover {
	color: #2DB400;
}