@charset "UTF-8";

body, html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.wrapper {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

.logoMenu {
	width: 50%;
	height: 6%;
	text-align: center;
	display: inline-block;
	padding: 5px 0;
}

.logoMenu img {
	width: 40px;
	height: 40px;
	vertical-align: top;
}

.title {
	font-family: 'Baloo', cursive;
	color: #2DB400;
	font-size: 30px;
	text-decoration: none;
	font-weight: bold; <!--
	font-family: 'Open Sans', sans-serif;
	-->
}

.menu {
	width: 100%;
	height: 4%;
	display: inline-block;
}

.menu_arr {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border-top: 1px solid #f1f3f6;
	border-bottom: 1px solid #f1f3f6;
	background-color: #fff;
	padding-bottom: 15px;
}

.menu ul {
	text-align: center;
	height: 80%;
}

.menu ul a {
	font-family: 'Nanum Square';
	font-size: 18px;
	text-decoration: none;
	color: #2DB400;
}

.menu ul li {
	display: inline;
	padding: 0 90px;
	text-align: center;
	position: relative;
}

.menu img {
	width: 35px;
	height: 35px;
}

.menu li ul {
	display: none;
	height: auto;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 21px;
	right: 63px;
	width: 100px;
	background-color: white;
	float: left;
	box-shadow: 2px 2px 4px #999999;
	-moz-box-shadow: 2px 2px 4px #999999;
	-webkit-box-shadow: 2px 2px 4px #999999;
}

.menu li ul li a:hover {
	color: #006400;
}

.menu li:hover ul {
	display: inline-block;
}

.menu li ul a {
	text-decoration: none;
	display: block;
	color: #2DB400;
	font-family: 'Nanum Square';
	font-size: 14px;
	font-weight: normal;
}

.content {
	width: 100%;
	height: 90%;
	margin: 0 auto;
	background-color: #f1f3f6
}

@media ( max-width : 480px) {
	.wrapper {
		width: 100%;
	}
	.logomenu {
		width: 100%;
		float: none;
	}
	.menu {
		width: 100%;
		float: none;
	}
}